<%= render :partial => 'header' %>
<%= render :partial => 'menus' %>
<div id="item_form_block" class="forms">
<%= render :partial => 'form' %>
</div>
<div id="task_info"></div>

<%= render :partial => 'board' %>