.service_message {
	font-weight: bold;
	font-size: 15pt;
}

.title {
	font-weight: bold;
	font-size: 15pt;
}

.version {
	font-size: 9pt;
	font-weight: bold;
}

.LABEL {
	font-size: 10pt;
	font-weight: bold;
}

.headerMenu {
	width: 100%;
	background-color: #FFFFFF;
	visibility: visible;
	position: absolute;
	z-index: 0;
}
.menuBody {
	width: 100%;
	background-color: #FFFFFF;
	visibility: visible;
	position: absolute;
	z-index: 0;
}

.menus {
	position: relative;
	width: 90%;
	z-index: 1;
}

.left {
	font-weight: bold;
	border: 2px solid #333333;
	background-color: #FFFFFF;
	vertical-align: text-top;
	width: 33%;
	height: 700px;
	overflow: visible;
}

.center {
	font-weight: bold;
	border: 2px solid #333333;
	background-color: #FFFFFF;
	vertical-align: text-top;
	width: 33%;
	height: 700px;
	overflow: visible;
}

.right {
	font-weight: bold;
	border: 2px solid #333333;
	background-color: #FFFFFF;
	vertical-align: text-top;
	width: 33%;
	height: 700px;
	overflow: visible;
}


.topMenu {
	background-color: #FFFFDB;
	font-size: 10pt;
	width: 200px;
	margin: 3px;
	z-index: 4;
	float: left;
	cursor: move;
}

.a {
	text-align: right;
	font-weight: bold;
	color: #3725A8;
	text-decoration: none;
}

