<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<font size="2">生活の役に立つ、便利で楽しいサービスを提供すること目指してます</font><br>
  <div id="menu">
        <%= link_to '駅前掲示板',:controller=>'mo_ekimae_board', :action => 'index' %><br>
        <%= link_to 'この場所がお勧め',:controller=>'mo_place', :action => 'index' %>
  </div>
