
<div class="service_message" >生活の役に立つ、便利で楽しいサービスを提供することを目指してます。</div><br>
  <div class="menus" id="menu">
        <div class="topMenu">
            <%= link_to '駅前掲示板',:controller=>'ekimae_board', :action => 'index' %>
        </div>
        <div class="topMenu">
            <%= link_to 'やること、なんだっけ？',:controller=>'task', :action => 'index' %>
        </div>
        <div class="topMenu" >
            <%= link_to 'この場所の、ここがお勧め',:controller=>'places', :action => 'index' %>
        </div>
        <div class="topMenu" >
            <%= link_to '言語解析',:controller=>'languages', :action => 'index' %>
        </div>
  </div>
